<app-header [title]="title" [subtitle]="subtitle"></app-header>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="label-container">
        <label class="label-container__title">Search a <strong>first generation</strong> pokemon: </label>
        <div class="input-container">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Pokémon</span>
            <input type="text" [(ngModel)]="pokemonName" placeholder="Search a pokémon..." class="form-control" (keydown.enter)="searchPokemon()">
            <button class="btn btn-outline-secondary input-container__btn" type="button"
              (click)="searchPokemon()">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      @if (pokemon && !loading) {
        <app-card-poke [data]="pokemon"></app-card-poke>
      } @else if (loading) {
      <app-loader></app-loader>
      } @else { <app-fail-poke></app-fail-poke>
      }
    </div>
  </div>
  <!-- <div>Se guardó en localStorage {{pokemonName | titlecase}} </div>
  <div>Traer valor de localstorage: {{ pokemonName | localstorage }}</div> -->

  @if (pokemonList$ | async; as resultObject) {
  <div class="row">
    <h5 class="text-center">List</h5>
      @for (pokemon of resultObject.results; track pokemon.name) {
        <div class="col-6 col-md-3 col-lg-2">
          <app-pokemon-item [pokemonInfo]="pokemon"></app-pokemon-item>
        </div>
    }
  </div>
  } 
  @if (pokeSaved ) {
  <div class="row">
    <h5 class="text-center">Saved</h5>
      @for (poke of pokeSaved; track poke.name) {
        <div class="col-6 col-md-3 col-lg-2">
          <app-pokemon-item [pokemonInfo]="{name: poke.name, url: ''}"></app-pokemon-item>
        </div>
    }
  </div>
  } 
  @if (errorMessage) {
  <app-error-message [errorMessage]="errorMessage"></app-error-message>
  }
</div>
